<div class="page-header">
  <h1>Users</h1>
</div>
<p class="lead">Manage your users!</p>

<ul class="list-group col-md-6">
	{{#each itemController="user"}}
		<li class="list-group-item">
			<span {{bind-attr class=":glyphicon :glyphicon-user isAwesome"}}
				    {{action "toggleAwesomeness" on="click"}}></span>
      {{fullName}}
      <span class="glyphicon glyphicon-remove destroy" {{action "removeUser" on="click"}}></span>
      <a href="#"><span class="badge pull-right">{{numTodos}}</span></a>
    </li>
	{{/each}}
</ul>